@using EcoleDeLaPerformance.Ui.Models
<div class="m-3">
    <MudGrid>
        <MudItem xs="12">
            <MudGrid Justify="Justify.SpaceAround">
                <MudItem md="1" xs="1" lg="1">
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <h5 class="text-center fw-bold">Lundi</h5>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <h5 class="text-center fw-bold">Mardi</h5>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <h5 class="text-center fw-bold ">Mercredi</h5>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <h5 class="text-center fw-bold">Jeudi</h5>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <h5 class="text-center fw-bold">Vendredi</h5>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.SpaceAround">
                <MudItem md="1" xs="1" lg="1" class="d-flex align-items-center">
                    <h4>Matin</h4>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Monday",false))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Monday",false)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Tuesday",false))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Tuesday",false)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Wednesday",false))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Wednesday", false)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Thursday",false))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Thursday", false)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Friday",false))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Friday", false)</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.SpaceAround" class="mt-10">
                <MudItem md="1" xs="1" lg="1" class="d-flex align-items-center">
                    <h4>Après-midi</h4>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Monday",true))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Monday", true)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Tuesday",true))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Tuesday", true)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Wednesday",true))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Wednesday", true)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Thursday",true))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Thursday", true)</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem md="2" xs="2" lg="2">
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 rounded-lg border-2 border-dashed mud-border-lines-default shadow-none" Style="@GetTaskColor(GetTaskTitle("Friday",true))">
                        <MudText Typo="Typo.h6" Align="Align.Center">@GetTaskTitle("Friday", true)</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>

@code {
    [Parameter]
    public List<HalfDayPlanning>? halfDayPlanningsList { get; set; }

    private string GetTaskColor(string taskTitle)
    {
        switch (taskTitle)
        {
            case "1/2 jour terrain seul":
                return "background-color:#f3c5c5;";
            case "1/2 jour terrain accompagné":
                return "background-color:#f9e4e4;";
            case "1/2 jour agence montage offre + rôle assistant co.":
                return "background-color:#eda1a1;";
            case "1/2 jour agence suivi performance commerciale":
                return "background-color:#e77272;";
            default:
                return "background-color:#fff;";
        }
    }

    private string GetTaskTitle(string dayOfWeek, bool halfDayTime)
    {
        return halfDayPlanningsList
                .Where(x => x.HalfDayDate.DayOfWeek.ToString() == dayOfWeek && x.HalfDayTime == halfDayTime)
                .Select(x => x.Task.Titled)
                .FirstOrDefault();
    }
}
